



/*CABECERA (COMÚN A TODOS)*/
    .cabecera{
        display: flex;
        height: 11vh;
        border-bottom: solid rgba(23,23,77);
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .cabecera h1{
        color: rgba(23, 23, 77);
        border-radius: 15px;
        border: solid rgba(23, 23, 77);
        text-align: center;
        align-content: center;
        font-size: 50px;
    }
    .logo img{
        width: 75px;
        height: 75px;
        border-radius: 100%;
        right: 15px;
    }
    .backButton img{
        width: 75px;
        height: 75px;
        border-radius: 100%;
        left: 15px;
    }
    /*-------------------------------*/

.login{
    height: 75vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.Titulo{
    text-align: center;
    font-size: 50px;
    color: rgb(54, 54, 145);
    font-weight: bold;
}

.Formulario{

    text-align: center;

    border-radius: 5px;
    border: 0.5px solid black;

    align-items: center;


}

.Usuario{
    color: rgb(109, 106, 106);
    border-radius: 15px;

    margin: 15px;
    text-align: center;
    border: 2px solid black;



}
.Usuario, input{


}


.Contraseña{
    color: rgb(109, 106, 106);
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    margin: 15px;
}

.Login input{

    color: white;
    font-size: 20px;
    justify-content: center;

    background-color: rgb(219, 53, 81);
    border: 1px solid pink;

}

/*FOOTER(COMÚN A TODOS)*/
    .pie{
        height: 11vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        border-top: solid rgba(23,23,77);
        border-left: solid rgba(23,23,77);
        border-right: solid rgba(23,23,77);
        font-size: 1.75vh;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .contacto{
        border-left: solid rgba(23,23,77);
        border-right: solid rgba(23,23,77);
    }
    .rrss img{
        width: 3vw;
    }
    /*-------------------------------*/