        *{
        box-sizing: border-box;
    }

    body{
        height: 100vh;
        width: 100vw;
        margin: 0;
    }

    .contenido {
        height: 78vh;
        width: 100%;
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .contenido img{
        width: 20vw;
    }

    .equipo{
        width:25%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 3vw;
        border: solid rgba(23, 23, 77);
    }



