body{


   margin: 0;
   height: 100vh;
   display: flex;
   flex-direction: column;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.contenedor{

    height: 78vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    width: 40vh;
    margin: 0 auto;


}


.cuadrado{

    width: 100%;
    height: 10vh;
    background-color:  rgba(23,23,77);
    color: white;

    border-radius: 12px;
    box-shadow: 0 4px 6px rgb(0, 0, 0.1);

    align-items: center;
}


.cuadrado a {

    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
}
