



.div{

    margin: 0;
    display: flex;

}

.Titulo{
    text-align: center;
    font-size: 50px;
    color: rgb(54, 54, 145);
    font-weight: bold;
}

.Formulario{

    text-align: center;

    border-radius: 5px;
    border: 0.5px solid black;

    align-items: center;


}

.Usuario{
    color: rgb(109, 106, 106);
    border-radius: 15px;

    margin: 15px;
    text-align: center;
    border: 2px solid black;



}
.Usuario, input{


}


.Contraseña{
    color: rgb(109, 106, 106);
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    margin: 15px;
}

.Login input{

    color: white;
    font-size: 20px;
    justify-content: center;

    background-color: rgb(219, 53, 81);
    border: 1px solid pink;

}
