body{


   margin: 0;
   height: 100vh;
   display: flex;
   flex-direction: column;
    background-color: #f0f0f0;
    font-family: sans-serif;
}
/*CABECERA (COMÚN A TODOS)*/
    .cabecera{
        display: flex;
        height: 11vh;
        border-bottom: solid rgba(23,23,77);
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    .cabecera h1{
        color: rgba(23, 23, 77);
        border-radius: 15px;
        border: solid rgba(23, 23, 77);
        text-align: center;
        align-content: center;
        font-size: 50px;
    }
    .logo img{
        width: 75px;
        height: 75px;
        border-radius: 100%;
        right: 15px;
    }
    .backButton img{
        width: 75px;
        height: 75px;
        border-radius: 100%;
        left: 15px;
    }
    /*-------------------------------*/
.contenedor{

    height: 78vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    width: 40vh;
    margin: 0 auto;


}


.cuadrado{

    width: 100%;
    height: 10vh;
    background-color:  rgba(23,23,77);
    color: white;

    border-radius: 12px;
    box-shadow: 0 4px 6px rgb(0, 0, 0.1);
    margin-top: 100px;

    align-items: center;




}


.cuadrado a {

    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

/*FOOTER(COMÚN A TODOS)*/
    .pie{
        height: 11vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        border-top: solid rgba(23,23,77);
        border-left: solid rgba(23,23,77);
        border-right: solid rgba(23,23,77);
        font-size: 1.75vh;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .contacto{
        border-left: solid rgba(23,23,77);
        border-right: solid rgba(23,23,77);
    }
    .rrss img{
        width: 3vw;
    }
    /*-------------------------------*/